* {
	margin: 0;
	padding: 0;
}

section {
    position: absolute;
    left: 50%;
    top: 2.5vw;
    transform: translate(-50%,0);
    height: 100%;
    width: 30%;
}

.closeBok {
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	bottom: 10%;
}

.openBok {
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
}

.roomDesPos {
	position: absolute;
    top: 2.5vw;
    left: 2.5vw;
    width: 30%;
    height: 35%;
}

legend {
	margin-left: 2vw;
}

.roomDes{
    border: 2px solid #000;
    width: 100%;
    overflow: hidden;
}

.roomDesText {
	margin-left: 50%;
	transform: translate(-50%,0);
	width: 90%;
}

form {
}

input {
	height: 10%;
	width: 100%;
}